.LeagueInfo-Container {
  width: 98%;
  position: relative;
  top: -9rem;
  height: 420px;
  margin: 0 auto;
  background-color: #ffff;
  padding: 1.25rem;
}

.LeagueInfo-Container ul {
  padding: 0;
}

.LeagueInfo-Container li {
  display: flex;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.25;
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
  list-style-type: none;
  border-bottom: var(--border-bottom);
  align-items: center;
}

.LeagueInfo-Container li:last-child {
  border-bottom: none;
}

.LeagueInfo-Container li img {
  height: 30px;
  width: 30px;
}

.LeagueInfo-Container li a {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25;
  color: var(--link-color);
  margin-left: .8rem;
}

.LeagueInfo-Container li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.LeagueInfo-Container li a img {
  height: .8rem;
  width: .8rem;
  opacity: .4;
  margin-left: .3rem;
}

@media (max-width: 1660px) {
  .LeagueInfo-Container {
    top: 0;
  }
}

@media (max-width: 1050px) {
  .LeagueInfo-Container {
    width: 91vw;
    max-height: fit-content;
    top: 5rem;
  }
}