.AroundNba-Container {
  height: fit-content;
  background-color: #ffff;
  padding: 1.25rem;
  margin-top: 7rem;
}

.AroundNba-Container ul {
  margin: 0;
  padding: 0;
}

.AroundNba-Container ul li {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  list-style: none;
  margin-bottom: 1rem;
}

.AroundNba-Container ul li img {
  height: 7.3rem;
}

.AroundNba-Container ul li div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
}

.AroundNba-Container ul .title {
  text-transform: uppercase;
  font-family: titleFont;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: normal;
  margin-right: 0.5rem;
}

.AroundNba-Container ul .description {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  margin: 0.8rem 0;
}

.AroundNba-Container ul .date {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25;
  color: #868481;
}

@media (max-width: 1050px) {
  .AroundNba-Container {
    width: 100%;
  }

  .AroundNba-Container ul {
    margin-right: 1.5rem;
  }
}

@media (max-width: 600px) {
  .AroundNba-Item div span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
