.Header-Container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  font: 14px "Roboto", "arial", "sans-serif";
  z-index: 5;
}

.Header-Container span {
  cursor: pointer;
  color: #ffff;
  height: 55px;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0 0.5rem;
}

.Header-Main-Container {
  display: flex;
}

.Header-Link {
  box-sizing: border-box;
  padding-top: 20px;
}

.Header-Main-Container .Header-Logo {
  cursor: pointer;
  width: 50px;
  display: block;
  margin-right: 1rem;
}

.Menu-Icon {
  display: none;
  height: 30px;
  margin-right: 1.5rem;
  margin-top: 0.9rem;
}

.Menu-Icon:hover {
  opacity: 0.8;
}

.Header-SignIn-Container {
  display: flex;
  align-items: center;
}

.Header-SignIn-Container img {
  width: 24px;
  cursor: pointer;
}

/* PopUp */
.Header-Link {
  display: inline-block;
  position: relative;
  height: 100%;
}

.Schedule-Link:hover .Schedule-PopUp,
.Watch-Link:hover .Watch-PopUp,
.Games-Link:hover .Games-PopUp,
.News-Link:hover .News-PopUp,
.Stats-Link:hover .Stats-PopUp,
.Players-Link:hover .Players-PopUp,
.NbaBet-Link:hover .NbaBet-PopUp,
.Store-Link:hover .Store-PopUp,
.Tickets-Link:hover .Tickets-PopUp,
.Image-Link:hover .Image-PopUp,
.SignIn-Link:hover .SignIn-PopUp {
  visibility: visible;
  opacity: 1;
}

.Header-PopUp {
  left: -5%;
  top: 100%;
  position: absolute;
  z-index: 20;
  visibility: hidden;
  padding: 0.4rem;
  background-color: #fff;
  color: #000;
  opacity: 0;
  font-size: 0.875rem;
  font-weight: 600;
}

.Header-PopUp ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.Header-PopUp li:hover {
  background-color: #d8d6d6;
}

.Header-PopUp li {
  padding: 0.75rem 1.2rem;
  height: 100%;
}

.Players-PopUp {
  width: 140px;
}

.Games-PopUp li {
  width: 52%;
}

.Schedule-PopUp {
  min-width: 200px;
}

.News-PopUp {
  width: 170px;
}

.Stats-PopUp {
  width: 210px;
}

.Tickets-PopUp {
  width: 240px;
}

.Image-Link {
  padding-top: 15px;
}

.Image-PopUp {
  left: -13rem;
  width: 310px;
}

.Image-PopUp ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  max-width: 20rem;
}

.Image-PopUp li {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  overflow: hidden;
  border-radius: 0.125rem;
  width: 15%;
  margin-right: 0.9rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.Image-PopUp li span {
  margin-left: 0;
  margin-top: 0.75rem;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1.25;
  color: black;
}

.Image-PopUp li img {
  overflow: visible;
  width: 2rem;
  height: 2rem;
}

.SignIn-PopUp {
  left: -10.8rem;
  width: 230px;
}

.SignIn-PopUp a:first-child {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  white-space: nowrap;
  width: 75%;
  border-bottom: 1px solid #c9c5c5;
}

.SignIn-PopUp div {
  padding: 0.75rem 1rem;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  margin-top: 0.5rem;
}

.SignIn-PopUp div:hover {
  background-color: #d8d6d6;
}

.SignIn-PopUp a:hover {
  background-color: #d8d6d6;
}

.SignIn-PopUp div span:first-child {
  color: black;
}

.SignIn-PopUp span:last-child {
  height: 1.1rem;
  width: 1.5rem;
  border-radius: 9999px;
  cursor: pointer;
  background-color: #bbbdbe;
  color: #343232;
  border: 1px solid #bbbdbe;
  border-color: #343232;
}

.SignIn-PopUp a:last-child {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  white-space: nowrap;
  padding: 0.75rem 1rem;
}

.Store-Link,
.Tickets-Link {
  height: 55px !important;
}

.Store-PopUp {
  width: 160px;
}

.Store-PopUp img:first-child {
  height: 30px;
  width: 100%;
}

.Schedule-PopUp li {
  width: 83%;
}

@media (max-width: 1300px) {
  .Menu-Icon {
    display: inline-block;
  }

  .Header-Container {
    justify-content: space-between;
    padding: 0rem;
  }

  /* .Header-Link {
    max-width: fit-content;
  } */
}

@media (max-width: 1200px) {
  .Header-SignIn-Container .Image-Link {
    display: none;
  }
}

@media (max-width: 1090px) {
  .Header-SignIn-Container > div :last-child {
    display: none;
  }
}

@media (max-width: 1000px) {
  .Header-SignIn-Container .Store-Link,
  .Header-SignIn-Container .League-Link {
    display: none;
  }
}

@media (max-width: 840px) {
  .Header-Main-Container > div :last-child {
    display: none;
  }
}

@media (max-width: 770px) {
  .Header-Main-Container > div :nth-child(9) {
    display: none;
  }
}

@media (max-width: 710px) {
  .Header-Main-Container > div :nth-child(8),
  .Header-Main-Container > div :nth-child(7) {
    display: none;
  }
}

@media (max-width: 570px) {
  .Header-Main-Container > div :nth-child(6),
  .Header-Main-Container > div :nth-child(5) {
    display: none;
  }
}

@media (max-width: 450px) {
  .Header-Main-Container > div :nth-child(4),
  .Header-Main-Container > div :nth-child(3) {
    display: none;
  }
}
