@font-face {
  font-family: titleFont;
  src: url(../src/assets/font/Knockout\ HTF49Liteweight\ Regular.otf);
}

:root {
  --border-bottom: 1px solid #ebe9e7;
  --secondary-text-color: #ebe9e7;
  --link-color: rgb(98, 98, 221);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
}

.Main-Wrapper, .Second-Wrapper {
  width: 75%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  margin-top: 200px;
}

.Second-Wrapper {
  margin-top: 550px;
}

.Main-Content{
  width: 75%;
}

.Side-Bar {
  width: 20%;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .Main-Wrapper, .Second-Wrapper {
    width: 95%;
  }
}

@media (max-width: 1050px) {
  .App {
    overflow-x: hidden;
  }

  .Main-Wrapper, .Second-Wrapper {
    width: 100%;
    flex-direction: column;
  }

  .Main-Content, .Side-Bar {
    width: 100%;
  }

  .Side-Bar {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
}