.TeamsInDays-Container {
  position: relative;
  height: fit-content;
  background-color: #ffff;
  padding: 1.25rem;
  margin-top: 2rem;
  overflow-x: hidden;
}

.TeamsInDays-Container div:last-child {
  display: flex;
  width: 100%;
  transform: translateX(0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Team {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}

.Team img {
  height: 140px;
  transition: scale 0.35s ease-in-out;
  margin-bottom: 1.4rem;
}

.Team img:hover {
  scale: 1.1;
}

.Team span {
  text-transform: uppercase;
  font-family: titleFont;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 0.8;
  margin-right: 0.5rem;
}

@media (max-width: 1050px) {
  .TeamsInDays-Container {
    width: 100%;
  }
}
